# Managed by GES Ansible/AWX.  Enforcing CIS Audit Standards for auditd

{{ local_events_ubuntu }}
{{ write_logs_ubuntu }}
{{ log_file_ubuntu }}
{{ log_group_ubuntu }}
{{ log_format_ubuntu }}
{{ flush_ubuntu }}
{{ freq_ubuntu }}
{{ max_log_file_ubuntu }}
{{ num_logs_ubuntu }}
{{ priority_boost_ubuntu }}
{{ disp_qos_ubuntu }}
{{ dispatcher_ubuntu }}
{{ name_format_ubuntu }}
{{ log_action_ubuntu }}
{{ space_ubuntu }}
{{ space_action_ubuntu }}
{{ verify_email_ubuntu }}
{{ mail_action_ubuntu }}
{{ admin_space_ubuntu }}
{{ admin_left_action_ubuntu }}
{{ disk_full_ubuntu }}
{{ disk_error_ubuntu }}
{{ libwrap_ubuntu }}
{{ tcp_listen_ubuntu }}
{{ tcp_max_ubuntu }}
{{ tcp_client_max_ubuntu }}
{{ krb5_ubuntu }}
{{ krb5_prin_ubuntu }}
{{ dist_network_ubuntu }}
