# Managed by FPD Ansible/AWX.  Enforcing CSET Audit Standards for auditd

{{ local_events_centos }}
{{ write_logs_centos }}
{{ log_file_centos }}
{{ log_group_centos }}
{{ log_format_centos }}
{{ flush_centos }}
{{ freq_centos }}
{{ max_log_file_centos }}
{{ num_logs_centos }}
{{ priority_boost_centos }}
{{ name_format_centos }}
{{ log_action_centos }}
{{ space_centos }}
{{ space_action_centos }}
{{ verify_email_centos }}
{{ mail_action_centos }}
{{ admin_space_centos }}
{{ admin_left_action_centos }}
{{ disk_full_centos }}
{{ disk_error_centos }}
{{ libwrap_centos }}
{{ tcp_listen_centos }}
{{ tcp_max_centos }}
{{ tcp_client_max_centos }}
{{ transport_centos }}
{{ krb5_centos }}
{{ dist_network_centos }}
{{ qdepth_centos }}
{{ overflow_centos }}
{{ restarts_centos }}
{{ plugin_centos }}
