# Managed by GES Ansible/AWX.  Freshclam Configuration File for Ubuntu.
# Comments will get lost when you reconfigure the clamav-freshclam package

DatabaseOwner clamav
UpdateLogFile /var/log/clamav/freshclam.log
LogVerbose false
LogSyslog false
LogFacility LOG_LOCAL6
LogFileMaxSize 0
LogRotate true
LogTime true
Foreground false
Debug false
MaxAttempts 5
DatabaseDirectory /var/lib/clamav
DNSDatabaseInfo current.cvd.clamav.net
ConnectTimeout 30
ReceiveTimeout 0
TestDatabases yes
ScriptedUpdates yes
CompressLocalDatabase no
SafeBrowsing false
Bytecode true
NotifyClamd /etc/clamav/clamd.conf
# Number of database checks per day.
# Default: 12 (every two hours)
# GES: Checks 4 (every 6 hours)
{{ freshclam_checks }}
DatabaseMirror db.local.clamav.net
DatabaseMirror database.clamav.net
