# Managed by QS Ansible/AWX.  Enforcing Audit Standards for auditd.

{{ local_events_rhel }}
{{ write_logs_rhel }}
{{ log_file_rhel }}
{{ log_group_rhel }}
{{ log_format_rhel }}
{{ flush_rhel }}
{{ freq_rhel }}
{{ max_log_file_rhel }}
{{ num_logs_rhel }}
{{ priority_boost_rhel }}
{{ name_format_rhel }}
{{ log_action_rhel }}
{{ space_rhel }}
{{ space_action_rhel }}
{{ verify_email_rhel }}
{{ mail_action_rhel }}
{{ admin_space_rhel }}
{{ admin_left_action_rhel }}
{{ disk_full_rhel }}
{{ disk_error_rhel }}
{{ libwrap_rhel }}
{{ tcp_listen_rhel }}
{{ tcp_max_rhel }}
{{ tcp_client_max_rhel }}
{{ transport_rhel }}
{{ krb5_rhel }}
{{ dist_network_rhel }}
{{ qdepth_rhel }}
{{ overflow_rhel }}
{{ restarts_rhel }}
{{ plugin_rhel }}