[sssd]
config_file_version = 2
domains = GENESIS.LOCAL
services = nss, pam

[domain/GENESIS.LOCAL]
enumerate = False
cache_credentials = True
dyndns_update = False
id_provider = ad
auth_provider = ad
access_provider = permit
ad_access_filter = {{ ad_access_group }}
sudo_provider = ad
ad_domain = genesis.local
ad_server = genesis-dc1.genesis.local,genesis-dc2.genesis.local
ldap_schema = ad
ldap_id_mapping = True
default_shell = /bin/bash
override_shell = /bin/bash
override_homedir = /home/GES/%u
fallback_homedir = /home/GES/%u
ldap_idmap_autorid_compat = True
ldap_idmap_default_domain = genesis.local
ad_gpo_ignore_unreadable = True
ldap_idmap_range_size = 1000000